<h1 class="text-center">{{title}}</h1>
<div class="container detail">
    <div class="detail-img">
        <img src="{{thumbnail}}" alt="{{title}}" width="300">
    </div>
    <div class="detail-info">
        <p>Codigo: <b>{{code}}</b></p>
        <p>Descripcion: <b>{{description}}</b></p>
        <p>Precio: $ <b>{{price}}</b></p>
        <p>Disponibles: <b>{{stock}}</b></p>
        <a href="javascript:void(0);" class="btn">Agregar al carrito</a>
        <a href="javascript:window.history.back();" class="btn">Volver</a>
    </div>
</div>

<script src="/js/product.js"></script>